<footer>
  <div class="container">
    <div class="clearfix">
      <ul class="nurse-bottom-list">
        <li><a href="">Сиделка для лежачего больного</a></li>
        <li><a href="">Сиделка с проживанием</a></li>
        <li><a href="">Сиделка в больницу</a></li>
        <li><a href="">Приходящая сиделка</a></li>
        <li><a href="">Сиделка для бабушки</a></li>
      </ul>
      <ul class="nurse-bottom-list">
        <li><a href="">Медицинская сиделка</a></li>
        <li><a href="">Сиделка без проживания</a></li>
        <li><a href="">Сиделка для больного</a></li>
        <li><a href="">Мониторинг</a></li>
      </ul>
      <div class="our-location">
        <p><i class="sprite s-metro"></i>Метро Преображенская</p>
        <p><i class="sprite s-location"></i>г. Москва, Площадь, ул.1-я Бухвостова 12/11 офис 211</p>
      </div>
      <div class="callback">
        <div class="contacts_phone">
          <i class="sprite s-phone"></i>
          <a href="tel: +74952413158">+7 (495) 241 31 58</a>
        </div>
        <a class="all-info js-popup" href="#">Заказать звонок</a>
        <div class="contacts_mail">
          <i class="sprite s-mail"></i>
          <a href="mailto: infosidelka@gmail.com">infosidelka@gmail.com</a>
        </div>
      </div>
    </div>
    <p class="copyright">© 2016 Патронажная служба «ЮНИВЕРСАЛ». Все права защищены.</p>
  </div>
</footer>