<header>
  <div class="container">
    <ul class="logo-box">
      <li><a class="logo" href="#"><img src="img/icons/logo.png" alt="logo"></a></li>
      <li class="desktop-only">
        <p class="logo-box_desc">Европейское&nbsp;качество</p>
        <p class="logo-box_desc">по доступной цене</p>
      </li>
    </ul><!--
 --><div class="contacts">
      <div class="contacts_wrap">
        <div class="contacts_phone">
          <i class="sprite s-phone"></i>
          <a href="tel: +74952413158">+7 (495) 241 31 58</a>
        </div>
      </div><!--
   --><div class="contacts_wrap desktop-only">
        <div class="contacts_phone">
          <i class="sprite s-phone"></i>
          <a href="tel: +74952413158">+7 (495) 241 31 58</a>
        </div>
      </div><!--
   --><div class="contacts_wrap desktop-only">
        <a href="#" class="btn btn__order js-popup">Оставить заявку онлайн</a>
      </div><!--
   --><div class="contacts_wrap desktop-only">
        <div class="contacts_24-7">
          <i class="sprite s-24-7"></i>
          <span>работаем круглосуточно</span>
        </div>
      </div><!--
   --><div class="contacts_wrap desktop-only">
        <div class="contacts_mail">
          <i class="sprite s-mail"></i>
          <a href="mailto: infosidelka@gmail.com">infosidelka@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</header>

