<form class="form form__selection form__popup" action="./form.php" method="post">
  <div class="input-group clearfix">
    <span class="input-group_addon"><i class="sprite s-input-name"></i></span>
    <input type="text" class="form-control" placeholder="Имя" name="name">
  </div>
  <div class="input-group clearfix">
    <span class="input-group_addon"><i class="sprite s-input-phone"></i></span>
    <input type="text" class="form-control" placeholder="Телефон" name="phone">
  </div>
  <button type="submit" class="btn btn__claim">Оставить заявку</button>
</form>
