/* ===== HEADER ===== */

header {
  position: relative;
  padding: 1.5rem 0;
}

.logo-box {
  @include col(5);
  z-index: 3;

  li {
    display: inline-block;
    vertical-align: middle;

    &:first-child {
      padding-right: 1.3rem;
    }

    &:last-child {
      padding: .5rem 1.5rem;
      border-left: 1px solid #d2d2d2;
    }
  }
}

.logo {
  width: 22.7rem;
  height: 7.4rem;
  display: inline-block;
}

.logo-box_desc {
  padding: 0 .7rem;
  font-size: 1.6em;
  font-weight: 500;
  line-height: 2.3rem;
  color: #fff;
  background-color: #29a73d;

  & + .logo-box_desc {
    margin-top: .3rem;
    display: inline-block;
  }
}

.contacts {
  @include col(7);
  z-index: 3;
  text-align: right;
}

.contacts_wrap {
  @include col(4);
  vertical-align: middle;
}

.sprite {
  margin-top: .5rem;
  margin-right: .5rem;
  vertical-align: top;
}

.s-phone {
  @include sprite-box($s-phone);
}

.s-24-7 {
  @include sprite-box($s-24-7);
  margin-top: .1rem;
}

.s-mail {
  @include sprite-box($s-mail);
}

.contacts_phone {

  a {
    text-transform: uppercase;
    font-size: 2.2em;
    font-weight: 400;
    color: #505050;
  }
}

.btn__order {
  width: 17.7rem;
  font-size: 1.1em;
  font-weight: 500;
}

.contacts_24-7 {
  margin-top: 1.2rem;

  span {
    color: #343434;
    font-size: 1.4em;
    font-weight: 400;
  }
}

.contacts_mail {
  margin-top: 1.2rem;

  a {
    color: #343434;
    font-size: 1.4em;
    font-weight: 400;
  }
}

